.emoji_list {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.emoji_list__header {
  color: #8899a6;
  font-size: 15px;
  padding: 6px 18px 11px;
  text-align: left;
}

.emoji_list__header::after {
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e1e8ed;
  content: '';
}

.emoji_list__emoji {
  position: absolute;
}

.emoji_list__button {
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 22px;
  max-width: 22px;
  cursor: pointer;
}

.emoji_list__emoji,
.emoji_list__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji_list__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
